@media (min-width: 1024px) {

    .nav-links {
        display: flex;
    }
    .logo-img {
        height: 70px;
        padding: 0;
    }
    .section-1 h1 {
        font-size: 44px;
    }
    .section-2 p {
        font-size: 18px;
        line-height: 25px;
        width: 940px;
    }
    .text2 {

        padding-top: 60px;

    }
    .section-4 {
        padding: 79px 0 89px;
    }

    .card3 {
        display: inline-block;
        margin: 10px;
    }
    .table {
        margin-bottom: auto;
    }
    .card4 {
        display: inline-block;
        margin: 10px 10px 0 10px;
    }

    .card5 {
        background: #E0E0E0;
        display: inline-block;
        margin: 10px;
        height: 220px;
        width: 220px;
    }
    .bott {
        margin: 29px 3px 0 3px;
    }
    .card5 img {
        padding: 0;
    }
    .section-4 {
        padding: 79px 15px 89px;
    }
    .card2 {
        display: inline-block;
        margin: 10px
    }
    .text3 {
        margin: 28px 0 0 0;
    }
    .section-5 {
        padding: 79px 0 89px;
    }
    .text-10 {
        font-size: 15px;

    }
    .content-7 {
        display: flex;
        max-width: 940px;
    }
    .bottom-content {width: 319px}
    .sec6 {
        display: flex;
        justify-content: center;
    }
    .text6 {
        border-right: 2px solid;
        border-color: rgba(0, 0, 0, 0.04);
    }
    .inputs {
        width: 564px;
    }
}